/* CSS Resets*/ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
/* globals */
body {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none !important;
}

.red_colour_bg {
  background: #f51810;
  color: #fff;
}
.red_colour_font, red_colour_font a {
  color: #f51810;
}

.blue_text {
  color: #1717ae;
}

.black_text {
  color:#000;
}

.sec_intro_text, .grey_text {
  color:grey;
}


.text_box_left {
  width: 50%;
}

.text_box_right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

ul, li {
  list-style-type: none;
}

.uppercase {
  text-transform: uppercase;
}

.font_weight_bold {
  font-weight: bold;
}

.cta_section {
  /* the elements with top bottom border, often drawing attention to something */
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 1em 0;
  margin:1em 0;
}

.cta_section.two_part_cta_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta_white_border {
  border-color: #fff;
}

.short_red_line {
  border-bottom: .175em solid #f51810;
  width: 3em;
  display: block;
  margin: 1em 0;
}

.sec_intro_text {
  /* used under headings/cta/logo's for main text for each section */
  font-size: 1.3em;
}

button {
  background: #f51810;
  border: 0;
  color: #fff;
  padding: 1.4em;
  cursor: pointer;
  text-transform: uppercase;
}









.wrapper {
  width: 100%;
  height: 100%;
}

nav {
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    color:#fff;
    padding: 0;
    height: 4.5em;
}


/* Top level nav menu */ 
menu {
  display: flex;
  align-items: center;
  width: 30%;
}

menu ul {
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #f51810;
  }
  
  li.dropdown {
    display: inline-block;
    margin: 1em;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* logo */ 
.nav_logo {
  display: flex;
  align-items: center;
}
.nav_logo img {
  width: 10em;
  border:.2em solid #fff;
}

.nav_logo img {
  width:10em;
}

/* contact sect */ 
  section.header_contact {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width:30%;
  }

  span.phone {
    min-width: 7em;
  }
    span#phone_int_code {
        color: #808080;
    }

  span.myTravel {
    padding: 0 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span#myTravel .fas {
      margin-left: .6em;
  }

  .star_green {
    color: #00b67a;
  }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background:#fff;
  color:#000;
}




  /* end top level nav */


  /*page sections */
  .page_section {
      height: 100%;
      padding: 1em;
      width: 80%;
      margin: 0 auto;
  }




  

/* landing */
.visitors_landing {
  background: url(img/landingbackground.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Bestil din rejse hos border */ 
.book_travel_cta {
  border-color: #fff;
  padding: .5em;
  display: flex;
  justify-content: center;
  width: 10em;
}

.centered-landing {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.centered-landing img {
  border: .3em solid #fff;
  margin: 1em 0;
}


.landing-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
}




/* intro */
.intro.text_box_left {
  display: flex;
  margin: 5em auto;
}

.intro_col_left {
  width: 60%;
}
.p_margin_top {
  margin-top: 2em;
}

.intro_col_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
    .intro_col_right .cta_section {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

.intro_cta_rows {
      margin: .35em 0;
}
.intro_cta_rows .black_text {
  font-size: 1.2em;
}


/* map*







/* pop trips */
.filter_row {
  display: flex;
  align-items: center;
  position: relative;
  margin: 3em 0;
}

.filter_buttons {
  border: 1px solid grey;
  padding: 1em;
}

.filter_row .cta_section {
  margin: 0;
  right: 0;
  position: absolute;
}

.filter_row ul.dropdown-content {
  margin-top: 1.1em;
  left: 1em;
}

/*slide show*/
.pop_trips_slider {
  display: flex;
  justify-content: flex-end;
}

.trips_slider_wrapper {
  height: 30em;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.card {
  background: black;
  min-width: 22em;
  height: 25em;
  margin-right: 1rem;
  display: inline-block;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4em 1em 1em 1em;
}

.card_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card_header {
  width: 50%;
  text-align: center;
  padding: .5em;
}
.card_header p {
  font-size: 0.6em;
}
.card_title {
  text-align: center;
  font-size: 1.4em;
}

.card .card_bottom p {
  font-size: .8em;
}

.card1 {
  background:url(img/inspiration/insp1.jpg)
}
.card2 {
  background:url(img/inspiration/insp2.jpg)
}
.card3 {
  background:url(img/inspiration/insp3.jpg)
}
.card4 {
  background:url(img/inspiration/insp4.jpg)
}
.card5 {
  background:url(img/inspiration/insp5.jpg)
}
.card6 {
  background:url(img/inspiration/insp6.jpg)
}
.card7 {
  background:url(img/inspiration/insp7.jpg)
}
.card8 {
  background:url(img/inspiration/insp8.jpg)
}
.card9 {
  background:url(img/inspiration/insp9.jpg)
}
.card10 {
  background:url(img/inspiration/insp10.jpg)
}









/* be inspired*/
 .be_inspired_sec {
  margin: 4em auto;
}

.destinations_row {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 1em 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

  .destination_wrapper {
    display: flex;
  }

  .destination_details {
    margin: 0 4em 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destination_wrapper img {
  width: 8em;
  height: 5em;
}
/* end be inspired */ 











  /*quote*/
.quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quote_author {
  display: flex;
  align-items: center;
}
.quote_author_details {
  margin-left: 1em;
}
.quote_author img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}


.quote_text_col {
  width: 40%;
}
.quote_sec_text {
  margin:2em 0;
}
.border-left {
  border-left: 2px solid #f51810;
  padding-left: 1em;
}

.quote_img_col {
  width: 43%;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}
    .quote_img_col img {
      width: 100%;
      height: 35em;
    }








/* featured */
.featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured_img_col {
  margin-right: 5%;
  width: 43%;
}
    .featured_img_col img {
      width: 100%;
    }

.featured_text_col {
    width: 40%;
    margin-left: 5%;
}
    .featured_icon_text {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #1717ae;
      margin-bottom: 3em;
    }
    .featured_icon_text i {
        font-size: 2em;
    }
    .featured_icon_text:nth-child(2) {
      margin-left: 1em;
    }














/* help you */
.help_you_line {
  /*above and below section */
    height: 0.2em;
    background: #cdcbcb;
    margin: 5em 0;
    padding: 1px;
}

.help_you {
  display: flex;
  align-items: center;
}

.get_offer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.get_offer button {
  margin-right: 2em;
}

/*should be replaced with SVG / interaction */
.help_you_img {
  align-items: center;
}
.help_you_img img {
  padding-left: 30%;
}






/* customer feedback */ 
.customer_feedback {
  margin: 3em auto;
}

.customer_feedback_trustpilot {
  display: flex;
  margin: 5em 5%
}

.trustpilot_col {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 0 1em;
}

.tp_stars {
  display: flex;
}

.tp_star {
  background: #00b67a;
  color: #fff;
  font-size: 0.6em;
  padding: .3em;
  margin: .1em;
}
.tp_content {
  display: flex;
  flex-direction: column;
  margin: 1em 0 2.5em;
}
span.tp_title {
  padding: 1em 0;
}

p.tp_author {
  padding-bottom: 1em;
  text-transform: uppercase;
}


/* featured 2 (large costal image */
.featured_two {
  background: url(img/costalroad.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  border-color: #fff;
}

.featured_two_overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}

section.featured_two_content {
  width: 70%;
}







  /* our team section */ 
  .our_team {
    margin: 4em auto;
  }

  .team_row {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1em 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

    .team_member_wrapper {
      display: flex;
    }

    .team_member_details {
        margin: 0 2em 0 1em;
    }

    .team_member_wrapper img {
        border-radius: 100%;
        width: 8em;
        height: 8em;
    }

      .read_about_team {
        display: inline-flex;
      }
/* end our team */ 



/*footer menu */
.footer_menu {
  display: flex;
  justify-content: space-around;
  margin: 5% 5%;
}

/* footer */
footer {
  font-size: 1em;
  border-top: 1px solid #928f8f;
  padding: 1em;
}

.col-3 {
    width: 33%;
}

.footer_box {
  margin: 2em 1em;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_box_cta {
  width: 60%;
  color: #f51810;
  margin-top:1em;
}

.footer_content, .footer_content a {
  color: #928f8f;
}

.cta-wrap-sidebyside {
  display: flex;
  justify-content: flex-start;
}
.cta-wrap-sidebyside .footer_box_cta {
  max-width: 8em;
}
.cta-wrap-sidebyside .footer_box_cta:nth-child(2) {
  margin-left: 3em;
}



/* overrides*/
.black_text {
  /*used to override phone number in footer fx*/
  color:#000;
}

.red_text {
  color: #f51810
}

.white_text {
  color:#fff;
}